.about {
    background: #f9fafb;
}

.about .title {
    color: var(--main-color);
    font-weight: bold;
    text-align: center;
    font-size: 35px;
}
.about .brand{
    color: var(--main-color);
}
.about .brand span {
    color: #6AD386;
}

.about .desc {
    color: #555;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 600;
}
.about .features li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.about .about-img {
    width: 85%;
    max-width: 450px;
    transform: rotate(-5deg);
    transition: 0.3s;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.15));
}

.about-img:hover {
    transform: rotate(0deg) scale(1.05);
}
.about .features {
    list-style: none;
    padding: 0;
    margin: 0;
}

.about .features li {
    display: flex;
        align-items: center;
        gap: 16px;
        font-size: 17px;
        font-weight: 500;
        overflow: hidden;
}

.about .features li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 4px;

    background: linear-gradient(135deg, var(--main-color), var(--main-color-dark));
    transform: scaleY(0);
    transition: transform 0.3s ease;
}

.about .features li:hover {
    transform: translateX(8px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
}

.about .icon {
    min-width: 38px;
    height: 38px;
    border-radius: 50%;

    background: linear-gradient(135deg, var(--main-color), #6AD386);
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

}

.about .icon::after {
    content: "✓";
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}